.custom-wrapper-box {
  width: 500px;

  .title-box {
    font-size: 12pt;
    padding: 15px;
  }

  .content-box {
    opacity: 0.7;
    max-width: min(100%, 600px);
    padding: 10px 20px;
    text-align: left;

    .pre-box {
      font-size: 12pt;
      color: #fff;
      white-space: pre-wrap; /* Since CSS 2.1 */
      white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
      white-space: -pre-wrap; /* Opera 4-6 */
      white-space: -o-pre-wrap; /* Opera 7 */
      word-wrap: break-word; /* Internet Explorer 5.5+ */
    }
  }
}
